<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/integration
          http://www.springframework.org/schema/integration/spring-integration.xsd">

    <int:gateway id="bringgGateway" service-interface="bishwo.springboot.template.gateway.Gateway">
        <int:method name="springIntegrationExample" request-channel="chain1"/>
<!--        <int:method name="fetchFromInMemDB" request-channel="chain2"/>-->
    </int:gateway>

    <int:chain id="chainid1" input-channel="chain1">
        <int:transformer id="bishwoToOpenAiSpec" ref="openAiTransformer" method="requestTransformer" />
        <int:service-activator id="basicServicesChain1" ref="servicesClass" method="openAiServices" />
        <int:transformer id="openAiToBishwoSpec" ref="openAiTransformer" method="responseTransformer"/>
    </int:chain>


</beans>